body {
  font-family: Helvetica, sans-serif;
  padding: 1%;
}

h1 {
  background-image: url('IMGP0233.JPG');
  background-size: cover;
  padding: 3%;
  margin-top: 0;
  background-color: white;
}

img {
  max-height: 12px;
}

.button_to {
  display: inline-block;
}

article {
  padding: 0.5% % 0.5% 1%;
  margin-left: 3%;
}

li {
  padding: 0.5%;
}

footer ul {
  background-image: url('IMGP0233.JPG');
  background-size: cover;
  list-style-type: none;
  padding: 1%;
}

footer li {
  display: inline-block;
  background-color: white;
  margin-left: 3%;
}
